<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <li><%= link_to "ABOUT", about_path  %></li>
    </nav>
    <%= yield %>
    <footer>
      <p>Footer Here</p>
    </footer>
  </body>
</html>
